.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.clock-images {
  display: inline-block;
}

.ul-images {
  position: absolute;
  margin-top: 7%;
  list-style-type: none;
}

.img-Clock-image {
  height: 130px;
  position: initial;
}
.div-left {
  background-color: #6c757d;
  width: 40%;
  height: 100vh;
}
.div-right {
  background-color: #343a40;
  width: 60%;
  display: flex;
  margin-right: 0px;
}

.div-clockbox {
  margin-top: 14%;
  margin-left: -20%;
}

.div-clockName {
  margin-top: 20%;
  margin-left: 10%;
}

.div-clockName .h2_price {
  color: #adb5bd;
  font-size: 28px;
}

.clockNameH2 {
  color: #e9ecef;
  font-size: 50px;
}
.img-Clock {
  height: 120%;
  position: relative;
  padding-right: 20%;
  padding-bottom: 30%;
}

.p_clockinfo {
  color: #adb5bd;
  font-size: 12px;
  width: 75%;
  margin-top: 5%;
}
.h2_color {
  margin-top: 10%;
  color: #dfdfdf;
  font-size: 20px;
}

.div-left-bottom {
  background-color: #343a40;
  height: 50%;
  margin-top: -100px;
  display: flow-root;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
