*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;800;900&display=swap');
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #000000;
}

body{
    background-color: #fff;
}

header{
    display: flex;
    justify-content: flex-end;
    margin: 25px 65px;
    background-color: #fff;
}


.navBar{
    margin-right: auto;
}

.logo{
    margin-left: 27px;
}

.nav-links {
    display: inline-block;
    margin-left: 55px;
}

.nav-links li{
    display: inline-block;
    padding: 5px 8px;
    margin-right: 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #000000;
}

.brand{
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
    color: #000000;
}

.btn-explore{
    height: 40px;
    width: 150px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #000000;
    color: white;
    background-color: #000;
    border-radius: 40px;
}

.text-col{
    margin: 130px 0px;
}

.text-col p{
    color: rgb(102, 102, 102);
    margin-top: 20px;
    opacity: .9;
    line-height: 185%;
}

.text-col h1{
    line-height: 145%;
}


.img-col img{
    width: 380px;
    position: absolute;
    /* justify-content: flex-end; */
    left: 67%;
}

.social-icons i{
    margin-right: 15px;
    margin-top: 20px;
}

.underline{
    display: inline-block;
    position: relative;
}

.underline::after{
    height: 2px;
    background-color: #414141;
    opacity: .7;
    display: block;
    content: '';
    width: 100%;
    margin: 5px auto;
    margin-top: 5px;
}