<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/index.css">

    <title>Tesla</title>
  </head>
  <body>
    

    <main class="site-main">
        <!-- Hero-section -->
        
        <section class="hero-area">
            <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="../images/tesla_logo.svg" alt="tesla logo" class="tesla-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            
        <div class="mx-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Order</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Test drive</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">charging</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Videos</a>
              </li>
          </ul>
        </div>
      </nav>
      <div class="circle-area">
        <div class="border-circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12 hero-info">
                        <h1 class="hero-header">Tesla Model S</h1>
                        <p class="hero-para">The Tesla Model S is a full-sized fice-door, luxuxry liftback, produced by Tesla Motors. Since its introduction in June 2012 it has achieved rapidly growing sales, particularly in Norway and California.</p>
                        <button class="box-btn">Test Drive</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="vertical_dotted_line"></div>
                        <img src="../images/hero.png" alt="car image" class="img-fluid car-img">
                    </div>
                </div>
            </div>
        </section>

        <!-- short description section -->
        <section class="short-des-area">
            <div class="row row-short">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 short-des-col-1">
                  <div class="vertical_dotted_line_1"></div>
                    <h2 class="short-des-header">5+2</h2>
                    <p class="short-des-para">Available seats</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 short-des-col-2">
                  <div class="vertical_dotted_line_2"></div>
                    <div class="flex-card">
                        <h2 class="short-des-header">3.2 </h2>
                        <span class="short-des-header-sec">sec</span>
                    </div>
                    <p class="short-des-para">0-60 max acceleration</p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 short-des-col-3">
                  <div class="vertical_dotted_line_3"></div>
                  <div class="flex-card">
                    <h2 class="short-des-header">275</h2>
                    <span class="short-des-header-sec">mi</span>
                  </div>
                    <p class="short-des-para">Range at 65 MPH</p>
                </div>
            </div>
        </section>


        <!-- des area -->
        <section class="sec-area">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 left-des-col">
                <h1 class="hero-header">Carbon Fiber Spoiler</h1>
                <div class="horizontal_dotted_line"></div>
                <p class="hero-para">Beginning vehicles manufactured in late September 2014, all new Mode S's come equipped with a camera mounted at the top of the windshield, forward looking radar in the lower grill, and ultrasonic sonar sensors in the front and rear bumpers that provide a 360-degree buffer zone around the car.</p>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 right-des-col">
                <img src="../images/car.png" alt="tesla model s image" class="des-img">
              </div>
            </div>
            <div class="row row-2">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 right-des-col">
                <img src="../images/img.png" alt="tesla model s image"  class="des-img">
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 left-des-col">
                <div class="horizontal_dotted_line_1"></div>
                <h1 class="hero-header">Premium Interrior</h1>
                <p class="hero-para">The instrument panel is 12.3 in (31cm)LCD display that indicates speed, power usage, charge level, estimated range and active gear. The gearbox can be set to Drive, Neutral, Reverse and Park.</p>
              </div>
            </div>
        </section>


        <!-- cta section  -->
        <section class="cta-area">
            <button class="cta-btn">join us to test drive</button>
            <p class="cta-para">* All guests who wish to test drive the new Tesla Model S will be subject to a credit check.</p>
        </section>


        <!-- footer section -->
        <footer class="footer-area">
          <img src="../images/Tesla_icon.svg" alt="tesla icon" class="tesla-icon">
        </footer>

    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>