html {
  font-size: 100%; // Helps with zoom accsessibility
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $light-color;
}

ul {
  list-style: none;
}
