@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 2rem; //Padding on the Top, Right, Bottom, Left positions.
}

@mixin layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
