// Colors
$primary-color: #e2643b;
$secondary-color: #242625;
$dark-color: #383b3a;
$light-color: #d6d8d7;

// Font family
$fontstack-one: "Poppins", sans-serif;
$fontstack-two: "Mulish", "Segoe UI", Tahoma, Geneva, sans-serif;

// Font weights
$weight-max: 900;
$weight-med: 600;
$weight-min: 300;

//Font Size
$text-max: 5rem;
$text-med: 3rem;
$text-min: 0.8rem;

$spacing-large: 1rem;
$spacing-min: 0.5rem;
$animate: 0.4s ease-in-out;
