// Colors
$primary-color: #e2643b;
$secondary-color: #242625;
$dark-color: #2e3130;
$light-color: #d6d8d7;

// Font family
$fontstack-one: "Poppins", sans-serif;
$fontstack-two: "Mulish", "Segoe UI", Tahoma, Geneva, sans-serif;

// Font weights
$weight-max: 900;
$weight-med: 600;
$weight-min: 300;

$spacing: 0.5rem;
$animate: .4s ease-in-out;
