@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: radial-gradient(rgb(250, 120, 120), rgb(248, 31, 31));
    height: 1400px;
    background-repeat: no-repeat;
    display: flex;
}

.navbar{
    display: flex;
}

#icon{
height: 100px;
width: 180px;
padding: 40px;
margin-left: 40px;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin-left: 600px;
    margin-right: 1045px;
}

.navbar ul li{
    padding: 20px;
    margin-top: 30px;
    margin-left: 50px;
}

.navbar ul li i{
    margin-top: 10px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 40px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    transition: all 0.3s linear;
    display: flex;
}

.navbar ul li a:hover{
    background: rgb(250, 102, 102);
}

.content{
    font-family: 'Titillium Web', sans-serif;
    position: fixed;
    left: 70%;
}

.content h3{
    font-size: 45px;
    color: rgb(218, 218, 218);
    font-weight: bolder;
}
.content h1{
    font-size: 85px;
    color: white;
    font-weight: bolder;
}
.content h2{
    font-size: 65px;
    color: rgb(187, 168, 168);
    font-weight: bolder;
}

.shoe{
    /* display: grid; */
}

.content i{
    display: flex;
    color: rgb(53, 49, 49);
}

.content i p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px;
    display: flex;
    color: white;
}

#image{
    height: 850px;
    width: 1500px;
    right: 750px;
    position: fixed;
    bottom: 350px;
}

#image2{
    height: 70px;
    width: 1500px;
    right: 750px;
    position: fixed;
    bottom: 300px;
}

.fa-1{
    position: fixed;
    left: 650px;
    top: 650px;
}
.fa-2{
    position: fixed;
    left: 1750px;
    top: 550px;
}
.fa-3{
    position: fixed;
    left: 2100px;
    top: 1000px;
}

.content a i{
    color: white;
    cursor: pointer;
}
.fa-4{
    position: fixed;
    left: 2850px;
    top: 710px;
}
.fa-5{
    position: fixed;
    left: 2850px;
    top: 750px;
}

.fa-6{
    position: fixed;
    left: 0;
    top: 850px;
}

.griplines{
    position: fixed;
    left: 0%;
    top: 600px;
    
}

.btn{
    font-size: 35px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    border: 0;
    border-radius: 45px;
    padding: 15px 35px;
    background: rgb(53, 49, 49);
    color:white;
    outline: none;
    transition: all 0.3s linear;
    position: fixed;
    left: 1400px;
    top: 1200px;
    cursor: pointer;
}

.btn:hover{
    background: rgb(248, 19, 19);
}

.lower i{
    color: white;
}

.lower p{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    position: fixed;
    left: 82%;
    top: 92%;
}

.fa-bottom{
    color: white;
    position: fixed;
    top: 92%;
    left: 2%;
    cursor: pointer;
}

.sidebar{
    display: grid;
    width: 110px;
    height: 1400px;
    background-image: linear-gradient(rgb(255, 115, 115), rgb(209, 31, 31));
}
.sidebar a i{
    color: white;
    cursor: pointer;
    padding: 41px;
    transition: all 0.3s linear;
    align-items: center;
}

.sidebar a:hover{
background: rgb(53, 49, 49);;
}

.fa-bars{
    background:rgb(80, 79, 79);
}
.fa-share-alt{
    margin-top: 700px;
}
