*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #000000;
}

body{
    background-color: #F1EDE9;
}

header{
    display: flex;
    justify-content: flex-end;
    margin: 15px 20px;
    background-color: #F1EDE9;
}


.navBar{
    margin-right: auto;
}

.logo{
    margin-left: 27px;
}

.nav-links {
    display: inline-block;
    margin-left: 55px;
}

.nav-links li{
    display: inline-block;
    padding: 5px 8px;
    margin-right: 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #000000;
}

.brand{
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.btn-connect{
    height: 40px;
    width: 150px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #000000;
    color: white;
    background-color: #000;
}

.img-docs{
    width: 400px;
    margin-top: 18px;
    padding: 0;
}

.img-docs img{
    width: 320px;
}

.btn-start{
    display: flex;
}

.btn-start button{
    display: flex;
    height: 60px;
    width: 140px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
    padding: 18px 27px;
    padding-left: 29px;
    border: none;
    color: white;
    background-color: #000;
    
}

.btn-start p{
    margin-left: 30px;
    margin-top: 10px;
    line-height: 130%;
}

.btn-login{
    background-color: #F1EDE9;
    color: #000000;
    border: none;
    margin-top: 30px;
}

.btn-signup{
    background-color: #F1EDE9;
    color: #000000;
    margin-top: 30px;
}

.text-col{
    margin: 0px;
}

.text-col h1{
    font-size: 45px;
    font-weight: 700;
    margin-top: 70px;
    line-height: 130%;
}


.img-col .img{
    width: 430px;
    margin: 0 auto;
}

.img-col img{
    width: 100%;
}
















