* { 
    margin:0; 
    padding:0; 
    box-sizing:border-box; 
    font-family: 'Merriweather', serif;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}
  
.left {
    width: 60%;
    padding-top: 50px;
    padding-left: 40px;
    background-color: #664333; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #614031, #a66e54);
    height: 100vh
}
  
.right {
    padding-left: 5%;
    width: 40%;
    padding-top: 50px;
    background-color: #f7f5ed;
    height: 100vh
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* table, td, th {
    border: 1px solid rgb(255, 0, 0);
  } */
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    text-align: left;
  }

.menu-line1{
    width: 20%;
    height:3px;
    border-width:0;
    background-color:rgb(221, 203, 203)
}
.menu-line2{
    width: 10%;
    height:3px;
    border-width:0;
    background-color:rgb(221, 203, 203)
}
#website-name{
    color: #e0ccc4;
    font-weight: 700;
    font-size: 18px;
}
.search-icon{
    width: 3%;
    padding-top: 5px;
}
#search-text{
    font-size: 12px;
    font-weight: 100;
    color: #d3b2a5;
}
#price {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-weight: lighter;
    font-size: 25px;
}
.product-name{
    padding-top: 2%;
    color: #fff;
    font-size: larger;
}
.product-des {
    padding-top: 2%;
    color: #e0ccc4;
    font-size: small;
}
.down-arrow{
    width: 15%;
    padding-top: 5%;
}
.footer-text{
    color: #fff;
    font-weight: lighter;
}
.button {
    background-color: #fff;
    border: none;
    color: #664333;
    padding: 5px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-size: 12px;
    margin: 4px 2px;
    font-weight: 600;
}

.bag-img{
    position: absolute;
    right: 25%;
    top: 25%;
    height: 40%
}
.profile-img{
    width: 8%;
    padding-top: 5px;
}
#profile-img {
    border-radius: 50%;
    height: 30px;
    width: 80%;
}
.user-name{
    font-size: small;
    width: 60%;
    padding-left: 10px;
}
.item-count{
    padding-left: 5%;
    font-size: large;
}
.circle{
    background-color: #a66e54; 
    background-image: linear-gradient(to right , #835946, #c2896e);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 5px;padding-left: 5px;
}
.hr{
    padding-left: 40%;
    padding-bottom: 15%;
}
#selection-line{
    width: 50%;
    height:2px;
    border-width:0;
    background-color:#e7c8bb
}
.related-product{
    padding-left: 10%;
    padding-top: 25%;
    font-size: x-small;
    padding-bottom: 3%;
    color: #5e3b2b;
    font-weight: bolder;
}
.related-prod-des{
    position:relative;
    right: -12%;
    width: 90%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 10px;
}
.star-img{
    padding-right: 5px;
    height:10px
}
.related-bag-img {
    position: absolute;
    right: 30%;
}