@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root{
    --yellow: #F5CC58;
    --yellow-light: #FFE7A1;
    --yellow-dark: #E0B626;
    --blue:#0D399C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
}

#main{
    background-color: var(--yellow-dark);
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 80px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 0;
    position: sticky;
    z-index: 100;
}

.logo{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    color: var(--blue);
}

.header_links{
    display: flex;
    align-items: center;
}

.header_link{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--blue);
    margin: 0 25px;
}

.header_cta{
    margin-left: 35px;
    padding: 7px 38px;
    text-transform: uppercase;
    font-weight: 300;
    border: 2px solid #fff;
    background-color: var(--blue);
    color: #fff;
}

.dots{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: absolute;
    right:5.5%;
    top: 45%;
    transform: translateY(-50%);
    z-index: 10;
}

.dot{
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 100%;
    margin: 25px;
    position: relative;
}

.dot:nth-child(3)::after{
    position: absolute;
    content: '';
    top: -33.5%;
    left: -34.5%;
    width: 170%;
    height: 170%;
    border: 1px solid #fff;
    border-radius: 100%;
}

.copyright{
    text-transform: uppercase;
    position: absolute;
    bottom: 18%;
    right: 2.8%;
    transform: rotate(90deg);
    font-size: 7.5px;
    color: var(--blue);
}

.main_content{
    margin-top: 50px;
    width: 60%;
    color: var(--blue);
    z-index: 10;
    position: sticky;
}

.heading{
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
}

.subheading{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.subheading::after{
    position: absolute;
    content: '';
    width: 25%;
    height: 2px;
    background-color: var(--blue);
    bottom: -13px;
    left: 0;
}

.image{
    position: absolute;
    right: 19%;
    top: 20%;
    width: 27.5%;
    height: 570px;
    z-index: 10;
}

.w_img{
    width: 100%;
    height: 100%;
}

.bottom_box{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 85px;
    width: 60%;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--blue);
    z-index: 5;
    background: linear-gradient(-135deg, transparent 105px, var(--blue) 0) top right;
}


.head{
    font-size: 18px;
    margin-bottom: 14px;
    font-weight: 600;
}

.head i{
    margin-left: 15px;
}

.body{
    position: relative;
    font-size: 12px;
}

.body2{
    margin-top: 42px;
}

.background_circle{
    position: absolute;
    height:580px;
    width: 580px;
    top: -30px;
    left: 46%;
    border-radius: 100%;
    z-index: 1;
    border: 70px solid var(--yellow-light);
}

.background_circle::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--yellow);
    border-radius: 100%;
}

.background_circle::after{
    position: absolute;
    content: '';
    height: 160%;
    width: 160%;
    top: -30%;
    left: -30%;
    z-index: 0;
    border-radius: 100%;
    border: 70px solid var(--yellow-dark);
    box-shadow: -25px 50px 10px rgba(0, 0, 0, 0.1);
}