* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --primary-color: #192859;
  --secondary-color: #23397e;
  --tertiary-color: #ea2d97;
  --yellow-color: #fbc916;
  --text-color: #fff;
}

.container {
  /* border: 2px solid red; */
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
  background-color: var(--primary-color);
  color: var(--text-color);
  overflow: hidden;
}
.navbar-container {
  width: 100%;
  display: flex;
  margin-top: 1%;
}
.navbar {
  /* border: 2px solid black; */
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  flex: 1;
  text-align: center;
}

.logo {
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
}
.logo span {
  font-family: "Pacifico", cursive;
}

.navbar ul {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: end;
  width: 100%;
}

.navbar ul li {
  text-decoration: none;
  list-style: none;
  font-size: 1.3rem;
  display: inline-block;
  margin-right: 40px;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  text-transform: capitalize;
  color: var(--text-color);
}
#bag-icon {
  /* border: 2px solid violet; */
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.material-icons {
  transform: scale(1.2);
}

/* ******************************** NAVBAR SECTION STYLING END ******************************** */

/* ******************************** HERO-SECTION STYLING  START ******************************** */

.row {
  /* border: 2px solid red; */
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
}
.col-1 {
  /* border: 2px solid yellow; */
  flex-basis: 60%;
  height: 100%;
}
.col-1 img {
  /* border: 2px solid yellow; */
  flex-basis: 50%;
  transform: translate(77%, 1%);
  width: 52%;
  position: relative;
  z-index: 99;
}
.col-2 {
  /* border: 2px solid green; */
  align-items: center;
  flex-basis: 40%;
  height: 100%;
}
.col-2 h2 {
  display: inline-block;
  /* margin-left: 5%; */
  padding-top: 30%;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 600;
}

.star {
  /* border: 2px solid white; */
  margin-top: 1rem;
  /* margin-left: 2rem; */
  display: flex;
  align-items: center;
}
.star i {
  color: var(--yellow-color);
}
.star span {
  padding-left: 1rem;
  font-size: 1rem;
}
.btn {
  border: 2px solid var(--secondary-color);
  display: inline-block;
  height: 2rem;
  width: 6rem;
  border-radius: 15px;
  padding: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.number-text {
  display: flex;
  justify-content: start;
  align-items: center;
}
.numbers {
  /* border: 2px solid red; */
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--tertiary-color);
  padding-top: 10px;
  margin-right: 2rem;
}
.text {
  /* border: 2px solid red; */
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color);
  text-transform: capitalize;
  padding-top: 10px;
  margin-left: 2rem;
}

/* ******************************** HERO-SECTION STYLING  END ******************************** */

/* ******************************** FOOTER SECTION STYLING START ******************************** */

.footer {
  /* border: 2px solid yellow; */
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-basis: 100%;
  width: 100%;
  height: 27%;
  background-color: var(--secondary-color);
}
.previous-arrow {
  height: 4rem;
  width: 4rem;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 5%;
  margin-left: 8%;
  padding-left: 5px;
}

.next-arrow {
  height: 4rem;
  width: 4rem;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 5%;
}
.footer span {
  font-size: 1rem;
}
.footer-textbox {
  /* border: 2px solid yellowgreen; */
  width: 500px;
  height: 100%;
  position: absolute;
  right: 7.5%;
}
.footer-textbox h4 {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  padding-right: 15px;
  padding-top: 6%;
  text-transform: capitalize;
  color: #5c72b7;
}

.footer-textbox h4:first-child {
  color: var(--text-color);
}
.footer-textbox p {
  font-size: 0.9rem;
  font-weight: 300;
  padding-top: 5%;
}
.plus-icon {
  /* border: 2px solid violet; */
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-color);
  position: absolute;
  right: 0%;
}
.plus-icon span {
  font-size: 6rem;
  font-weight: bolder;
}
/* ******************************** FOOTER SECTION STYLING END ******************************** */
