@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  background-color: #000;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

a:hover {
  box-sizing: border-box;
}

input,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: inherit;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
}

input,
textarea {
  box-sizing: content-box;
}

.container {
  padding: 0 8rem;
  margin: 0 auto;
  background-color: #121212;
  width: 130rem;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 1199px) {
  .container {
    /* 1200px */
    padding: 0 2rem;
  }
}

/* HEADER */
.header {
  padding-top: 6rem;
  margin-bottom: 3.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 1199px) {
  .header {
    /* 1200px */
    margin-top: 2rem;
  }
  .header .logo {
    position: fixed;
    top: 3rem;
    left: 3rem;
    z-index: 10;
  }
  .header__nav {
    visibility: hidden;
    margin-top: -180px;
  }
  .header__nav.active {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    top: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 9;
    margin-top: 0;
    visibility: visible;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .header__nav.active ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
    margin-right: 0;
  }
  .header__nav.active ul li {
    margin-bottom: 3rem;
    text-align: left;
    text-transform: uppercase;
  }
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 400;
  margin-right: 10rem;
}

.header__nav ul li {
  position: relative;
}

.header__nav ul li:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  height: 2px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.header__nav ul li:hover:after {
  width: 100%;
  opacity: 1;
}

.header__nav ul li:not(:last-child) {
  margin-right: 4rem;
}

.header__nav ul a {
  color: #fff;
}

.header__search {
  width: 21.4rem;
  height: 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}

.header__search input {
  width: 100%;
  height: 100%;
  padding-left: 0.8rem;
  border: 2px solid #737373;
  border-radius: 0.6rem;
  color: #fff;
}

.header__search input::placeholder {
  color: #bf7253;
  font-size: 1rem;
}

.header__search button {
  font-size: 1.6rem;
  color: #bf7253;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.header .menu-btn {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
  display: none;
  z-index: 10;
}

@media (max-width: 1199px) {
  .header .menu-btn {
    /* 1200px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.header .menu-btn__burger, .header .menu-btn__burger--top, .header .menu-btn__burger--bottom {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.5s ease-out;
}

.header .menu-btn.active .menu-btn__burger {
  transform: translateX(-5px);
  background: transparent;
}

.header .menu-btn.active .menu-btn__burger--top {
  transform-origin: left;
  transform: rotate(38deg);
}

.header .menu-btn.active .menu-btn__burger--bottom {
  transform-origin: left;
  transform: rotate(-398deg);
}

/* HERO */
.hero {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 1199px) {
  .hero {
    /* 1200px */
    margin-top: 20rem;
    padding: 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.hero__content {
  margin-right: 3rem;
}

@media (max-width: 1199px) {
  .hero__content {
    /* 1200px */
    order: 2;
    margin-bottom: 4rem;
    margin-right: 0;
  }
}

.hero__content h2 {
  font-size: 8.6rem;
}

@media (max-width: 1199px) {
  .hero__content h2 {
    /* 1200px */
    font-size: 5.6rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 575px) {
  .hero__content h2 {
    /* 576px */
    font-size: 4.6rem;
  }
}

.hero__content p {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: right;
  color: #bf7253;
  margin-top: -2rem;
  margin-bottom: 7.6rem;
  letter-spacing: 3px;
}

@media (max-width: 1199px) {
  .hero__content p {
    /* 1200px */
    font-size: 1.4rem;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .hero__content p {
    /* 576px */
    font-size: 1.2rem;
  }
}

@media (max-width: 991px) {
  .hero__image {
    /* 992px */
    width: 40%;
  }
}

@media (max-width: 575px) {
  .hero__image {
    /* 576px */
    width: 30%;
  }
}

.hero__cta {
  padding-bottom: 6rem;
}

@media (max-width: 1199px) {
  .hero__cta {
    /* 1200px */
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.hero__cta a {
  font-size: 1.4rem;
  padding: 0.8rem 2.4rem;
  color: #bf7253;
  border: 2px solid #737373;
  border-radius: 0.6rem;
  letter-spacing: 2px;
  margin-right: 1.2rem;
}

@media (max-width: 1199px) {
  .hero__cta a {
    /* 1200px */
    margin-bottom: 3rem;
  }
}

.hero__cta span {
  font-size: 1.2rem;
  color: #393939;
}

/* INFO */
.info {
  padding-bottom: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  /* Info Production */
  /* Info Price */
}

@media (max-width: 1199px) {
  .info {
    /* 1200px */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.info__text {
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
}

.info__text p {
  border-left: 1px solid #fff;
  padding-left: 1.4rem;
  width: 29rem;
}

@media (max-width: 1199px) {
  .info__text {
    /* 1200px */
    margin-bottom: 6rem;
  }
}

.info__btns {
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: absolute;
  top: -6rem;
  left: -3rem;
}

.info__btns--left, .info__btns--right {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #fff;
  color: #393939;
  margin-left: 1.4rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.info__production {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  text-align: center;
}

@media (max-width: 1199px) {
  .info__production {
    /* 1200px */
    margin-bottom: 6rem;
  }
}

.info__production__item {
  padding: 0 2.2rem;
}

.info__production__item:first-child {
  border-right: 1px solid #bf7253;
}

.info__production__item:last-child {
  border-left: 1px solid #bf7253;
}

.info__production__item p {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1;
}

.info__production__item span {
  font-size: 0.6rem;
  font-weight: 800;
  color: #bf7253;
  display: block;
}

.info__price-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.info__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 16.2rem;
}

.info__price__select {
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 0 1rem 2.2rem;
  color: #fff;
  border: 1px solid #737373;
  border-radius: 2rem;
  letter-spacing: 2px;
  margin-right: 1.2rem;
  appearance: none;
  cursor: pointer;
}

.info__price__select option {
  background-color: #393939;
}

.info__price label {
  position: absolute;
  right: 3.2rem;
  pointer-events: none;
  color: #bf7253;
}

.info__price-desc p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

.info__price-desc span {
  font-size: 1rem;
  font-weight: 800;
  color: #bf7253;
  display: block;
}
