@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
:root {
  --main-bg: #e7e7e7;
  --card-bg: #ffffff;
  --primary-bg: #ff9a42;
  --secondary-bg: #9a79c4;
  --primary-accent: #ffffff;
  --search-bg: #f8f8f7;
  --search-icon: #bdbdbd;
  --user-gray: #808080;
  --table-border: #f1f1f1;
  --checkbox-border: #b9b9b9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main-bg {
  background-color: var(--main-bg);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--card-bg);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 50%;
  max-height: 95%;
  min-width: 60%;
  box-shadow: 0px 2px 40px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin: 0 1rem;
}

.card__title {
  margin: 0;
  color: var(--primary-accent);
}

.card__nav {
  background-color: var(--primary-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.card__body {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto minmax(20px, 1fr) auto;
  align-items: center;
  max-height: 100%;
  min-height: 0;
  padding: 1rem 1rem 0 1rem;
}

.card__actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2rem;
  grid-column: 2;
  margin-right: -2rem;
}

.card__actions button {
  border: 0;
  background-color: var(--primary-bg);
  padding: 0.5rem 3rem 0.5rem 2rem;
  border-radius: 1.5rem 0 0 1.5rem;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.card__nav .fa {
  font-size: 2rem;
  cursor: pointer;
}

.card__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5rem;
}

.card__nav .active {
  color: var(--primary-accent);
  position: relative;
}

.card__nav .active ::after {
  content: "";
  background-color: var(--primary-accent);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  margin: 0 auto;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
  transform: translateX(-50%);
}
.search , .user{
  margin-top: -8px;
}

.search {
  background-color: var(--search-bg);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 75%;
}

.search .fa {
  color: var(--search-icon);
}

.search input {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: end;
  margin-left: auto;
}

.user img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 100%;
  object-fit: cover;
}

.user b{
  font-size: 0.6rem;
  margin-bottom:  -5px;
}
.sign-out{
  margin-top: -10px;
}
.user small {
  font-size: 0.5rem;
  color: var(--user-gray);
  
}

.head{
  font-size: 0.7rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.head1{
  font-size: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.deadline {
  background-color: var(--secondary-bg);
  color: var(--primary-accent);
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  text-align: center;
  
}
.float{
  float: left;
}

.product{
  font-weight:900;
}
.caroussel {
  display: none;
}
.btn1{
  padding: 0.5rem 0.6rem 0.5rem 0.5rem;
}
.btn2{
  padding: 0.5rem 0.5rem 0.5rem 0.6rem;
}

.caroussel button {
  border: 0;
  background-color:#f0f0f0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.caroussel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: auto 0.8rem;
  padding: 0.3rem 0.3rem 1rem 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  flex-basis: 4rem;
  min-width: 0;
}
.table img{
  width: 70px;
  height: 40px;
}

.topic{
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: -10px;
}

.caroussel__item.active {
  background-color: var(--primary-bg);
}

.caroussel__item .avatar {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding:0.8rem 0.9rem 0.8rem 0.9rem;
  background-color: var(--card-bg);
}

.table-container {
  grid-column: span 2;
  grid-row: span 4;
  overflow-y: auto;
  max-height: 100%;
}

.table {
  margin-top: 1.5rem;
  border-spacing: 0;
  width: 100%;
}

.table tr {
  border-bottom: 1px solid var(--user-gray);
}

.table th {
  text-align: start;
  font-size: 0.65rem;
  padding: 0.5rem 0.5rem;
  font-weight: 700;
}
.table td{
  font-size: 0.6rem;
}
.table thead tr {
  position: sticky;
  top: 0;
  background-color: var(--card-bg);
}

.table th,
.table td {
  border-bottom: 1px solid var(--table-border);
}

.table th:nth-child(5),
.table td:nth-child(5) {
  text-align: right;
}

.table th:nth-child(6),
.table td:nth-child(6) {
  text-align: center;
}

.paginator {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin-left:-20px ;
}

.paginator button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  padding: 0.5rem;
}

.paginator .active {
  color: var(--primary-bg);
}

.paginator .fa {
  font-size: 1rem;
}

.checkbox{

}
.checkbox input {
  appearance: none;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

.checkbox span {
  font-size: 1rem;
}

.checkbox span:before {
  font-family: FontAwesome;
  content: "\00f096";
  display: inline-block;
}

.checkbox input[type="checkbox"]:checked + span:before {
  content: "\00f046";
  color: var(--primary-bg);
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .card__nav,
  .card__nav ul {
    flex-direction: column;
  }

  .card__body {
    padding: 2rem 2rem 0 2rem;
  }

  .card__nav {
    padding: 2rem 3rem;
  }

  .caroussel {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
